.background{
    background: rgb(209,89,80);
    background: linear-gradient(0deg, rgba(209,89,80,1) 0%, rgba(186,229,255,1) 100%);    
}

.heading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: white; 
    font-size:45; 
    font-weight:600; 
    text-shadow:2px 2px 5px #4d4d4d;
    text-align: center;
    margin-top: 20%;
}

.container{
    width: 60%;
    border: 2px white solid;
    border-radius: 50px;
    background-color: #A4BFD1;
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: auto;
    margin-top: 5%;
    color: white;
}

.comp1{
    width:80%;
    margin-top: 40%;
    padding-bottom: 10%;
    margin-left: 10%;
    position: relative;
}